.app {
	min-height: calc(100vh - 100px);
	width: 100vw;
	background-color: #39445a;
	color: white;
	padding-top: 70px;
}

.trending-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 100px;
}

// Search Page
.search-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 100px;
}
.pagination {
	display: flex;
	justify-content: center;
	min-width: 100%;
}

.page-tittles {
	font-family: "Montserrat", sans-serif;
	font-size: calc(20px + 1vw);
	width: 100%;
	text-align: center;
	margin: 20px 0;
	letter-spacing: 3px;
}
